/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 100%;
}

.box {
  height: 500px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-top: 10px;
  padding: 20px;
  color:rgb(197, 223, 231);
}



.box2 {
  height: 500px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-top: 75px;
  padding: 20px;
  color: #fff;
  background: rgb(197, 223, 231);
}


.box3 {

  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-top: 20px;
  padding: 20px;
  color:rgb(230, 230, 230);
 
}

.bubblebox {
  height: 500px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-top: 20px;
  padding: 20px;
}
h3{
  color:rgb(211, 211, 211);
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(56, 56, 56, 0.76);
}

h1{
  text-align: center;
  color:rgb(211, 211, 211);
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(56, 56, 56, 0.76);
}

.btn-primary{
  border-radius: 10px;
  padding: 10px;

}

body{

  background: rgb(22, 1, 1);
}

.leaflet-container{
  border-radius: 10px;
  }