/* remove default margin and padding from body */
body {
    padding: 0;
    margin: 0;
  }
  
  /* set map, body, and html to 100% of the screen size */
  #map,
  body,
  html {
    height: 100%;
  }
  
  .box {
    height: 500px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 20px;
    color: #fff;
    background: rgb(197, 223, 231);
  }

  .bubblebox {
    height: 700px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 20px;
    color: #fff;
    background: rgb(197, 223, 231);
  }

  .navbar {
      color:red;
  }
